@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --text: #070403;
  --gray: rgb(56, 56, 56);
  --background: #ffffff;
  --primary: #e17256;
  --header: hsl(0, 0%, 12%);
  /* --primary: rgba(237, 169, 180, 1); */
  --secondary: #e5cac3;
  --accent: #985443;
  --fs-3: calc(1.313rem + 1vw);
  --card-shadow: hsla(0, 0%, 0%, 0.1);
  --shadow-1: 10px 10px 40px var(--card-shadow);

  --h1: 3.5rem;
  --h2: 2.5rem;
  --h3: 2rem;
  --h4: 1.2rem;
  --h5: 1rem;
  --p: 1rem;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  cursor: pointer;
}
button {
  cursor: pointer;
  border: none;
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  color: var(--text);
  background-color: var(--background);
}
/* for CTA/resume button */
.resume {
  text-decoration: none;
  padding: 0.5em 1.25em;
  background: var(--primary);
  border-radius: 50px;
  font-size: 1.15rem;
  transition: all 0.2s ease-in;
  color: var(--background) !important;
}
.resume:hover {
  opacity: 0.9;
  color: var(--background);
}
h1 {
  font-size: var(--h1);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h2 {
  color: var(--primary);
  line-height: 1.1;
  /* letter-spacing: 1px; */
  margin-bottom: 2rem;
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}

/* h2 {
  color: var(--primary);
  line-height: 1.2;
  font-family: "Poppins", sans-serif;
  font-size: --fs-3;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bol;
} */
p {
  font-size: var(--p);
  color: var(--gray);
  opacity: 0.9;
  max-width: 500px;
  letter-spacing: 1px;
  line-height: 1.5;
}

/* button outline */
.first-btn {
  margin-right: 1rem;
  color: var(--primary) !important;
  background-color: transparent;
  border: 1px solid var(--primary);
}

/* Media queries */
/* Smaller sizes */
@media screen and (max-width: 950px) {
  :root {
    --h1: 3rem;
    --h2: 2rem;
    --h3: 1.5rem;
    --h4: 1rem;
    --h5: 0.85rem;
    --p: 0.85rem;
  }
}
/* Medium Screen */
@media screen and (max-width: 750px) {
  h1 {
    margin-bottom: 1rem;
  }

  h2 {
    margin-bottom: 1rem;
  }
}

/* Mobile Screen */
